
#color4nav {background-color: #4aaaa5 !important;
			color: #777777 !important;}


#border { width: 100% !important;
	height: 2px;
	background-color: #cccccc}

body {background-image: url("../images/brickwall.png");
	background-repeat: repeat;
	width: 100%}

#margintop {height: 50px;}

.footer {	
			width: 100%;
			position: fixed;
			bottom: 0;
			height: 40px;
			background-attachment: scroll;
			background-color: #666666;
			border-top: 8px solid #4aaaa5;
			padding-top:10px;
			text-align: center;
			font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
			font-size: 10px;
			color: white;
			z-index: 5;}

#social { width: 50px !important;
		height: 50px !important;
		display: inline !important;
		}

#colThree { box-sizing: border-box;
	height: 30px;
	width: 100%;
	background-color: #4aaaa5}

